<div class="container">
  <button class="btn btn-success" data-toggle="modal" data-target="#viewCart">Add Product</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <td><img src="{{item.image}}" alt="{{item.title}}"></td>
        <td>{{item.title}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}} L.E</td>
        <td><button class="btn btn-warning" data-toggle="modal" data-target="#viewCart"
            (click)="update(item)">Update</button></td>
      </tr>

    </tbody>
  </table>
</div>
<div class="modal fade" id="viewCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 900px!important;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body cartBox">
        <!-- Cart Items -->
        <form action="" [formGroup]="form">
          <div class="row">
            <div class="col-sm">
              <label for="">Title</label><br>
              <input type="text" name="" id="" placeholder="title" class="form-control" formControlName="title">
            </div>
            <div class="col-sm">
              <label for="">Price</label><br>
              <input type="number" name="" id="" placeholder="price" class="form-control" formControlName="price">
            </div>
            <div class="col-sm">
              <app-select [data]="categories" [all]="false" [title]="'Categories'"
                (selectedValue)="getSelectedCategory($event)" [select]="form.value.category">
              </app-select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <label for="">Image</label>
              <img src="{{base64}}" alt="" class="base64">
              <input type="file" name="{{base64}}" id="" class="form-control" (change)="getImagePath($event)">
            </div>
            <div class="col-sm">
              <label for="">Description</label><br>
              <textarea name="" id="" cols="68" rows="5" formControlName="description" placeholder="type here ..."
                class="form-control"></textarea>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm d-flex justify-content-end">
              <button class="btn btn-success" (click)="addProduct()" [disabled]="!form.valid">Add Product</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<div class="text-center w-100" *ngIf="loading">
  <app-spinner></app-spinner>
</div>